{% extends "layout.jinja2" %}

{% block content %}
    <div class="content">
        <h1><span class="font-semi-bold">NBP exchange rates powered by Pyramid:</span></h1>

        <h3>Last update: {{ one.effectiveDate }}
            {% if error %}
                {{ error }}
            {% endif %}</h3>
        <table>
            <tr>
                {% for key, _ in one.rates[0].items() %}
                    <th>{{ key }}</th>
                {% endfor %}
            </tr>
            {% for dict_item in one.rates %}
                <tr>
                    {% for key, value in dict_item.items() %}
                        <td>{{ value }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
        <div class="button-wrapper">
{#            <form action="{{ request.route_url('update') }}"#}
{#                  method="post">#}
{#                <button type="button" class="update_button" name="update_button" value="update">Pobierz aktualne kursy walut</button>#}
{#            </form>#}
            <a href="{{ request.route_url('update') }}">Pobierz aktualne kursy walut</a>
        </div>

    </div>

{% endblock content %}
